body {
  font-family: 'arial', arial, sans-serif;
  font-weight: 500;
  background-image: url(Underwater-Ocean-Background-Tumblr-5.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
	color: rgb(55, 51, 221);
	font-family: 'impact',impact, arial, sans-serif;
	font-weight: 600;
	font-size: 72px;
	text-align: center;
	/*do not include this*/
}
#Copenhagen{
	width:1000px;
}
#Slovenia{
	width:1000px;
}
#darcy{
	text-align: center;
}
a{
	color:yellow;
	font-family: 'impact',impact;
}
h2{
	text-align: center;
	color: rgb(55, 51, 221);
}
h3{
	text-align: center;
	color:rgb(55, 51, 221);
}
.unicorns{
	color:white;
	text-decoration: underline;
	font-weight: 200;
}